.message-card-photo {
    height: 70px;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
}

.message-card {
    border: 2px black solid;
    height: 70px;
    width: 300px;
    margin-bottom: 2px;
}

.message-at-left {
    justify-content: flex-end;
    align-items: end;
    color: #000000;
    background-color: #a9a7a7;
}

.message-at-right {
    justify-content: flex-start;
    align-items: start;
    color: white;
    background-color: #6ab1fa;
}

.message-user-connected {
    display: flex;
    max-height: 300px;
    text-align: right;
    justify-content: flex-end;
}

.message-user-interlocuteur {
    display: flex;
    justify-content: start;
    max-height: 300px;
    text-align: left;
}


.photo-details {
    width: 300px;
    height: auto;
}

.small-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.zero-margin-left {
    margin-left: 0;
}