.message-card-photo {
    height: 70px;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
}

.message-card {
    border: 2px black solid;
    height: 70px;
    width: 200px;
    margin-bottom: 2px;
}

.chat-box {
    border: 1px black solid;
    width: 800px;
    height: 400px;
}

.message-user-connected {
    max-height: 300px;
    text-align: right;
}


.message-user-interlocuteur {
    max-height: 300px;
    text-align: left;
}


.photo-details {
    width: 300px;
    height: auto;
}